<a class="w-nav-link menu-li" href="{% url 'minicursos' %}">Minicursos</a>
<a class="w-nav-link menu-li" href="{% url 'minha_area' %}">Minha Área</a>
<a class="w-nav-link menu-li" href="{% url 'sair' %}">Sair</a>

