<a class="w-nav-link menu-li" href="{% url 'index' %}#sobre">Sobre</a>
<a class="w-nav-link menu-li" href="{% url 'index' %}#datas_importantes">Cronograma</a>
<a class="w-nav-link menu-li" href="{% url 'index' %}#programacao">Programação</a>
<a class="w-nav-link menu-li" href="{% url 'index' %}#palestrantes">Palestrantes</a>
<a class="w-nav-link menu-li" href="{% url 'index' %}#hospitalidade">Hospitalidade</a>
<a class="w-nav-link menu-li" href="{% url 'index' %}#organizadores">Organizadores</a>
<a class="w-nav-link menu-li" href="{% url 'minha_area' %}">Minha Área</a>