<div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title">{{ minicurso.titulo }}</h2>
        </div>

        <div class="modal-body">

            <div class="container">
                <div class="row clearfix">
                    <div class="col-md-9 column">
                        <div class="row clearfix">
                            <div class="col-md-9 column">

                                <h3>Descrição</h3>

                                <p>
                                    {{ minicurso.descricao }}
                                </p>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <dl class="col-md-3">
                                <dt>
                                    Sala: {{ minicurso.sala }}
                                </dt>
                            </dl>

                            <dl class="col-md-6">
                                <dt>Horário:</dt>
                                {% for data in minicurso.datas %}
                                    <dd>{{ data.data | date:"j" }} de {{ data.data | date:"F" }} das {{ data.hora_inicial }} hrs às {{ data.hora_final }} hrs</dd>
                                {% endfor %}
                            </dl>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-8 column">
                                <h3>Pré-requisitos</h3>

                                <p>
                                    {{ minicurso.pre_requisitos }}
                                </p>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-8 column">
                                <h3>Palestrante</h3>
                                <dl><dt>{{ minicurso.palestrante.nome }}</dt></dl>
                                <p>{{ minicurso.palestrante.bio }}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>