<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{% block title %}3ª Semana de Química{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/normal.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/animation.css">
    <link href="/static/css/responsive.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
        if (/mobile/i.test(navigator.userAgent)) document.documentElement.className += ' w-mobile';
    </script>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
    {% block extraheader %}{% endblock %}
</head>

<body>

    <div class="fix-header" id="home">
        <div class="w-container">
            <div class="w-nav" data-collapse="medium" data-animation="default" data-duration="400"></div>
        </div>
    </div>

    <div class="fixed-header">
        <div class="w-container container">
            <div class="w-row">

                <div class="w-col w-col-3 logo">
                    <a href="{% url 'index' %}"><img class="logo" src="/static/images/logo.png"
                                                     alt="logo 3ª semana de Química" width=220px></a>
                </div>

                <!-- nav section -->
                <div class="w-col w-col-9">
                    <div class="w-nav navbar" data-collapse="medium" data-animation="default" data-duration="400"
                         data-contain="1">
                        <div class="w-container nav">
                            <nav class="w-nav-menu nav-menu" role="navigation">
                                {% block menu %}{% endblock %}
                            </nav>
                            <div class="w-nav-button">
                                <div class="w-icon-nav-menu"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end nav -->

            </div>
        </div>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer>
        {% block footer %}{% endblock %}
    </footer>

    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/normal.js"></script>
    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
    {% block extraimports %}
    {% endblock %}

</body>
</html>
