{% extends "base.html" %}

{% block extraheader %}
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/static/css/sb-admin-2.css" rel="stylesheet" type="text/css">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block menu %}
    {% include 'menus/menu_area_usuario.html' %}
{% endblock %}


{% block content %}

    <section class="team-parlex" style="margin-top: 50px">
        <section class="parlex5-back">
            <div class="w-container">
                <div class="wrap">

                    {% include 'alert.html' %}

                    {% if novos_eventos %}
                        <div class="col-lg-12">
                            <ul class="list-group">
                                {% for evento in novos_eventos %}
                                    <li>
                                        <a class="btn btn-success"
                                           href="{% url 'eventos.views.inscrever_evento' evento.id %}">Inscreva-se: {{ evento.descricao }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {% if eventos_inscritos %}
                        <div class="col-lg-12">
                            <ul class="list-group">
                                {% for evento in eventos_inscritos %}
                                    <li><a class="btn btn-success"
                                           href="{% url 'eventos.views.submeter_trabalho' %}">Submeter
                                        artigo: {{ evento.descricao }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Documentos importantes
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <a class="btn btn-primary" href="/static/modelo_artigo.docx">Modelo Artigo</a>
                                <a class="btn btn-primary" href="/static/modelo_banner.doc">Modelo Banner</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Artigos submetidos
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>Título</th>
                                            <th>Tipo</th>
                                            <th>Evento</th>
                                            <th>Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% if trabalhos %}
                                            {% for trabalho in trabalhos %}
                                                <tr>
                                                    <td>{{ trabalho.titulo }}</td>
                                                    <td>{{ trabalho.tipo }}</td>
                                                    <td>{{ trabalho.inscricao.evento }}</td>
                                                    <td>{{ trabalho.str_status }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        {% endif %}
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/sb-admin-2.js"></script>

{% endblock %}
