<section class="process-parlex" id="datas_importantes">
    <section class="parlex5-back">
        <div class="w-container">
            <div class="wrap">
                <div class="team">
                    <h1 class="team">CRONOGRAMA</h1>

                    <div class="sepreater service"></div>
                </div>

                <div class="w-row team-member">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                                <h2>Inscrições</h2>
                            </td>
                            <td>até 24/ago de 2015</td>
                        </tr>
                        <tr>
                            <td>
                                <h2>Submissão de Trabalhos</h2>
                            </td>
                            <td>até 20/jul de 2015</td>
                        </tr>
                        <tr>
                            <td>
                                <h2>Divulgação de Resultados</h2>
                            </td>
                            <td>até 05/ago de 2015</td>
                        </tr>
                        <tr>
                            <td>
                                <h2>Realização do Evento</h2>
                            </td>
                            <td>25 a 28/ago de 2015</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</section>