<section class="team-parlex" id="hospitalidade">
    <section class="parlex5-back">
        <div class="w-container">
            <div class="wrap">
                <h1 class="service-heading">HOSPITALIDADE</h1>

                <div class="sepreater service"></div>

                <p class="about-desd">
                    Com a chegada de novos empreendimentos na cidade, inclusive instituições de ensino, a cidade vem
                    acrescentando opções de lazer e hospitalidade.
                </p>

                <p class="about-desd">
                    Além das tradicionais festas como Finecap, Festa do Padroeiro, Carnapau e Sertão Mix, Pau dos Ferros
                    ainda conta com pontos de gastronomia e lazer como a pizzarias, petiscarias, points de lanches.
                </p>

                <p class="about-desd">
                    Oferece hotéis e pousadas, além ser visível disponibilidade de apartamento e imóveis residenciais,
                    construídos em virtude do aumento da demanda, como a chegada de novos servidores.
                </p>

                <p class="about-desd">
                    A cidade ainda tem como atrativos turísticos o Obelisco, a Barragem de Pau dos Ferros, Terminal
                    turístico Barravento, Centro Cultural Joaquim Correia, Centro de Artesanato, Santuário Nossa Senhora
                    da Conceição, entre outros.
                </p>

                <div id="programacao" class="grid">
                    <div class="col-1-2">
                        <div class="column">
                            <h3>Hospedagem</h3>
                            <table class="table">
                                <tr class="keynote">
                                    <td><span class="description">Hertz Center Hotel, Contato: (84) 3351-2502.</span>
                                    </td>
                                </tr>
                                <tr class="keynote">
                                    <td><span
                                            class="description ">Pousada Parque das Serras, Contato: (84) 3351-4529.</span>
                                    </td>
                                </tr>
                                <tr class="keynote">
                                    <td><span class="description ">Pousada Mão Preta, Contato: (84) 3351-4051.</span>
                                    </td>
                                </tr>
                                <tr class="keynote">
                                    <td><span class="description ">Pousada do Anízio, Contato: (84) 3351-2134.</span>
                                    </td>
                                </tr>
                                <tr class="keynote">
                                    <td><span class="description ">Pousada e Bar de Pau dos Ferros</span></td>
                                </tr>
                                <tr class="keynote">
                                    <td><span class="description ">Pousada João do Mel</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="col-1-2">
                        <div class="column">
                            <h3>Gastronomia</h3>
                            <table class="table">
                                <tr class="keynote">
                                    <td><span class="description">Pizzaria Água na Boca, telefone: (84) 3351-2702</span>
                                    </td>
                                </tr>
                                <tr class="keynote">
                                    <td><span class="description ">Valdete Restaurante e Pizzaria, telefone (84) 3351 2718</span>
                                    </td>
                                </tr>
                                <tr class="keynote">
                                    <td><span class="description ">Pizzaria e Restaurante Pauferrense, telefone: (84) 3351-2132</span>
                                    </td>
                                </tr>
                                <tr class="keynote">
                                    <td><span
                                            class="description ">Restaurante Baravento, telefone: (84) 9976-2413</span>
                                    </td>
                                </tr>
                                <tr class="keynote">
                                    <td><span class="description ">Restaurante Popular, telefone: (84) 3351-3384</span>
                                    </td>
                                </tr>
                                <tr class="keynote">
                                    <td><span class="description ">Churrascaria e Peixada Reencontro dos Amigos, telefone: (84) 8867-0387</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>