<section class="patrocionio-parlex" id="organizadores">
    <div class="w-container">
        <div class="wrap w-col-6">
            <h2 class="patrocionio-title">Organizadores:</h2>

            <p class="about-des">Profa. Dra. Ayla Márcia Cordeiro Bizerra (IFRN)</p>

            <p class="about-des">Profa. Me. Abigail Noádia Barbalho da Silva (IFRN)</p>

            <p class="about-des">Prof. Me. Demétrios Araújo Magalhães Coutinho (IFRN)</p>

            <p class="about-des">Prof. Dr. Fábio Garcia Penha (IFRN)</p>

            <p class="about-des">Prof. Jefferson Queiroga Pereira (IFRN)</p>

            <p class="about-des">Prof. Me. Maurício Façanha Pinheiro (IFRN)</p>
        </div>

        <div class="wrap w-col-6">
            <h2 class="patrocionio-title">Apoio:</h2>
            <img class="img-patrocinio" src="/static/images/clients/client-logo1.png" alt="logo Capes">
            <img class="img-patrocinio" src="/static/images/clients/client-logo2.png" alt="logo IFRN">
        </div>
    </div>
</section>