<section class="team-parlex" id="palestrantes">
    <section class="parlex5-back">
        <div class="w-container">
            <div class="wrap">
                <div class="team">
                    <h1 class="team">PALESTRANTES</h1>

                    <div class="sepreater service"></div>
                    <br/>
                </div>

                <div class="w-row team-member">
                    <div class="w-col w-col-3">
                        <div class="team-image">
                            <img class="team-img" src="/static/images/team/mauricio.jpg" alt="Prof. Maurício Façanha">
                        </div>
                        <div class="team-des">
                            <h5 class="team-name">Prof. Maurício Façanha</h5>
                            <a target="blank" href="http://lattes.cnpq.br/0756226266111980"><img class="team-social-img"
                                                                                                 src="/static/images/social/lattes.png"></a>
                        </div>
                    </div>

                    <div class="w-row team-member">
                        <div class="w-col w-col-3">
                            <div class="team-image">
                                <img class="team-img" src="/static/images/team/andrezza.png"
                                     alt="Prof. Maurício Façanha">
                            </div>
                            <div class="team-des">
                                <h5 class="team-name">Prof.ª Dra. Andrezza Tavares</h5>
                                <a target="blank" href="http://lattes.cnpq.br/5187018279016366"><img
                                        class="team-social-img" src="/static/images/social/lattes.png"></a>
                            </div>
                        </div>

                        <div class="w-row team-member">
                            <div class="w-col w-col-3">
                                <div class="team-image">
                                    <img class="team-img" src="/static/images/team/paulo.png"
                                         alt="Prof. Maurício Façanha">
                                </div>
                                <div class="team-des">
                                    <h5 class="team-name">Prof. Dr. Paulo Roberto</h5>
                                    <a target="blank" href="http://lattes.cnpq.br/7916978198698730"><img
                                            class="team-social-img" src="/static/images/social/lattes.png"></a>
                                </div>
                            </div>

                            <div class="w-row team-member">

                                <div class="w-row team-member">
                                    <div class="w-col w-col-3">
                                        <div class="team-image">
                                            <img class="team-img" src="/static/images/team/dante.png"
                                                 alt="Prof. Maurício Façanha">
                                        </div>
                                        <div class="team-des">
                                            <h5 class="team-name">Prof. Dr. Dante Henrique Moura</h5>
                                            <a target="blank" href=" http://lattes.cnpq.br/1720357515433453"><img
                                                    class="team-social-img" src="/static/images/social/lattes.png"></a>
                                        </div>
                                    </div>

                                    <div class="w-row team-member">
                                        <div class="w-col w-col-3">
                                            <div class="team-image">
                                                <img class="team-img" src="/static/images/team/gorette.png"
                                                     alt="Prof. Maurício Façanha">
                                            </div>
                                            <div class="team-des">
                                                <h5 class="team-name">Prof.ª Dra. Márcia Gorette Lima</h5>
                                                <a target="blank" href="http://lattes.cnpq.br/6965522706601294"><img
                                                        class="team-social-img" src="/static/images/social/lattes.png"></a>
                                            </div>
                                        </div>


                                        <div class="w-row team-member">
                                            <div class="w-col w-col-3">
                                                <div class="team-image">
                                                    <img class="team-img" src="/static/images/team/chassot.png"
                                                         alt="Prof. Attico Chassot">
                                                </div>
                                                <div class="team-des">
                                                    <h5 class="team-name">Prof. Dr. Attico Chassot</h5>
                                                    <a target="blank" href="http://lattes.cnpq.br/8159020225820727"><img
                                                            class="team-social-img"
                                                            src="/static/images/social/lattes.png"></a>
                                                </div>
                                            </div>


                                            <div class="w-row team-member">
                                                <div class="w-col w-col-3">
                                                    <div class="team-image">
                                                        <img class="team-img" src="/static/images/team/sandro.png"
                                                             alt="Prof. Dr. Sandro Thómaz Gouveia">
                                                    </div>
                                                    <div class="team-des">
                                                        <h5 class="team-name">Prof. Dr. Sandro Gouveia</h5>
                                                        <a target="blank" href="http://lattes.cnpq.br/6837933492683438"><img
                                                                class="team-social-img"
                                                                src="/static/images/social/lattes.png"></a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>