<section class="process-parlex" id="programacao">
    <section class="parlex2-back">
        <div class="w-container">
            <div class="wrap">
                <div class="service-combo">
                    <div class="services">
                        <h1 class="service-heading">PROGRAMAÇÃO</h1>

                        <div class="sepreater service"></div>
                    </div>

                    <div id="programacao" class="grid">
                        <div class="col-1-2">
                            <div class="column">
                                <h3>25 de Agosto de 2015</h3>
                                <table class="table">
                                    <tbody>
                                    <tr class="keynote">
                                        <td>14:00h às 19:00h</td>
                                        <td>
                                            <h2 class="no-margin">Credenciamento</h2>
                                            <span class="description">Local: Sala 06</span></br>
                                            <span class="description ">Coordenação: Profa. Abigail</span>

                                        </td>
                                    </tr>
                                    <tr class="keynote">
                                        <td>19:30h</td>
                                        <td>
                                            <h2 class="no-margin">Cerimônia de Abertura</h2>
                                        </td>
                                    </tr>
                                    <tr class="keynote">
                                        <td>20:00h</td>
                                        <td>
                                            <h2 class="no-margin">Conferência de Abertura: A pesquisa em Química como
                                                Princípio Educativo</h2>
                                            <span class="description ">Palestrante: Prof. Dr. Sandro Thómaz Gouveia (UFC)</span></br>
                                            <span class="description">Local: Auditório Ariano Suassuna</span>

                                            <span class="description">Coordenação: Profa. Dra. Ayla Márcia</span></br>
                                        </td>
                                    </tr>
                                    <tr class="muted">
                                        <td>21:30h</td>
                                        <td>Coquetel de Abertura</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-1-2">
                            <div class="column">
                                <h3>26 de Agosto de 2015</h3>
                                <table class="table">
                                    <tbody>
                                    <tr class="keynote">
                                        <td>8:00h às 10:00h</td>
                                        <td>
                                            <h2 class="no-margin">Apresentação de Trabalhos Orais e Painéis (GT)</h2>
                                            <span class="description ">Local: Ginásio e Salas de aula</span></br>
                                            <span class="description">Coordenação: Prof. Allan Dantas, Prof. Mariano Vieira, Prof. Abigail Barbalho</span>
                                        </td>
                                    </tr>
                                    <tr class="muted">
                                        <td>10:00h</td>
                                        <td>Intervalo</td>
                                    </tr>
                                    <tr class="keynote">
                                        <td>10:30h às 12:00h</td>
                                        <td>
                                            <h2 class="no-margin">Mesa Redonda 01 – O PIBID e sua contribuição para a
                                                educação em química.</h2>
                                            <span class="description ">Participantes: Andreza, Maurício, Paulo Roberto</span></br>
                                            <span class="description">Local: Auditório Ariano Suassuna</span></br>
                                            <span class="description">Coordenação: Prof. Fábio Garcia</span>
                                        </td>
                                    </tr>
                                    <tr class="muted">
                                        <td>12:00h</td>
                                        <td>Intervalo para o almoço</td>
                                    </tr>
                                    <tr class="keynote">
                                        <td>14:00h às 16:00h</td>
                                        <td>
                                            <h2 class="no-margin">Oficinas e Minicursos</h2>
                                            <span class="description ">Local: Salas de aula e laboratórios</span></br>
                                            <span class="description">Coordenação: Profa. Ayla Bizerra, Prof. Oberto Granjeiro e Prof. Felipe Maia</span>
                                        </td>
                                    </tr>
                                    <tr class="muted">
                                        <td>16:00h</td>
                                        <td>Intervalo</td>
                                    </tr>
                                    <tr class="keynote">
                                        <td>16:30h às 18:00h</td>
                                        <td>
                                            <h2 class="no-margin">Palestra 01 – Alquimia: arte e magia na educação química –
                                                Prof. Maurício Façanha Pinheiro</h2>
                                            <span class="description ">Local: Auditório Ariano Suassuna</span></br>
                                            <span class="description">Coordenação: Profa. Ayla Bizerra </span>
                                        </td>
                                    </tr>
                                    <tr class="keynote">
                                        <td>19:30h às 21:00h</td>
                                        <td>
                                            <h2 class="no-margin">Mini WorkShop sobre Ensino e Educação em Ciências</h2>
                                            <span class="description ">Palestrante: Prof. Attico Chassot (Centro Universitário Metododista – IPA)</span></br>
                                            <span class="description">Local: Auditório Ariano Suassuna </span></br>
                                            <span class="description">Coordenação: Prof. Ulysses Vieira</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div id="programacao" class="grid">
                        <div class="col-1-2">
                            <div class="column">
                                <h3>27 de Agosto de 2015</h3>
                                <table class="table">
                                    <tbody>
                                    <tr class="keynote">
                                        <td>08:00h às 10:00h</td>
                                        <td>
                                            <h2 class="no-margin">Apresentação de Trabalhos Orais e Painéis (GT)</h2>
                                            <span class="description">Local: Ginásio e Salas de aula</span></br>
                                            <span class="description ">Coordenação: Prof. Allan Dantas, Prof. Mariano Vieira, Prof. Abigail Barbalho</span>

                                        </td>
                                    </tr>
                                    <tr class="muted">
                                        <td>10:00h</td>
                                        <td>Intervalo</td>
                                    </tr>
                                    <tr class="keynote">
                                        <td>10:30h às 12:00h</td>
                                        <td>
                                            <h2 class="no-margin">Palestra 02 – </h2>
                                            <span class="description ">Palestrante: Prof. Attico Chassot (Centro Universitário Metododista – IPA)</span></br>
                                            <span class="description">Local: Auditório Ariano Suassuna</span></br>
                                            <span class="description">Coordenação: Prof. Ulysses Vieira</span>
                                        </td>
                                    </tr>
                                    <tr class="muted">
                                        <td>21:30h</td>
                                        <td>Intervalo para almoço</td>
                                    </tr>
                                    <tr class="keynote">
                                        <td>14:00h às 16:00h</td>
                                        <td>
                                            <h2 class="no-margin">Oficinas e Minicursos </h2>
                                            <span class="description ">Local: Salas de aula e laboratórios</span></br>
				    <span class="description">Coordenação: Profa. Ayla Bizerra, Prof. Oberto Granjeiro e Prof. Felipe Maia
</span>
                                        </td>
                                    </tr>
                                    <tr class="muted">
                                        <td>16:00h</td>
                                        <td>Intervalo</td>
                                    </tr>
                                    <tr class="keynote">
                                        <td>16:30h às 18:00h</td>
                                        <td>
                                            <h2 class="no-margin">Mesa Redonda 02 – O papel das licenciaturas em
                                                ciências </h2>
                                            <span class="description ">Participantes: Fco. Das Chagas (Sec. Educação do RN), Prof. Dante H. Moura (IFRN) e Prof. Márcia Goretti (UFRN)</span></br>
                                            <span class="description">Local: Auditório Ariano Suassuna</span></br>
                                            <span class="description">Coordenação: Prof. Antônia Silva</span>
                                        </td>
                                    </tr>
                                    <tr class="keynote">
                                        <td>19:30h às 21:00h</td>
                                        <td>
                                            <h2 class="no-margin">Apresentações culturais dos alunos do curso de
                                                licenciatura em Química do Campus Pau dos Ferros </h2>
                                            <span class="description ">Local: Ginásio </span></br>
                                            <span class="description">oordenação: membros do Diretório Acadêmico Floriano Cavalcanti</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-1-2">
                            <div class="column">
                                <h3>28 de Agosto de 2015</h3>
                                <table class="table">
                                    <tbody>
                                    <tr class="keynote">
                                        <td>8:00h às 10:00h</td>
                                        <td>
                                            <h2 class="no-margin">Oficinas e Minicursos</h2>
                                            <span class="description ">Local: Laboratórios e Salas de aula</span></br>
				    <span class="description">Coordenação: Profa. Ayla Bizerra, Prof. Oberto Granjeiro e Prof. Felipe Maia
</span>
                                        </td>
                                    </tr>
                                    <tr class="muted">
                                        <td>10:00h</td>
                                        <td>Intervalo</td>
                                    </tr>
                                    <tr class="keynote">
                                        <td>10:30h às 12:00h</td>
                                        <td>
                                            <h2 class="no-margin">Palestra 03 – Química: o mercado, a formação e o
                                                profissional</h2>
                                            <span class="description ">Palestrantes: João Carlos – CRQ</span></br>
                                            <span class="description">Local: Auditório Ariano Suassuna</span></br>
                                            <span class="description">Coordenação: Prof. Caio Sena</span>
                                        </td>
                                    </tr>
                                    <tr class="muted">
                                        <td>12:00h</td>
                                        <td>Intervalo para o almoço</td>
                                    </tr>
                                    <tr class="keynote">
                                        <td>14:00h às 16:00h</td>
                                        <td>
                                            <h2 class="no-margin">Cerimônia de Encerramento – Apresentação dos alunos do
                                                Campus Ipanguaçu, entregas de premiações e apresentação da próxima sede
                                                do evento. </h2>
                                            <span class="description ">Local: Auditório Ariano Suassuna</span></br>
                                            <span class="description">Coordenação: Profa. Ayla Bizerra</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="programacao" class="grid">
                    <div class="col-1-1">
                        <div class="column">
                            <table class="table">
                                <tbody>
                                <tr class="muted">
                                    <td>* A grade de palestras poderá ser alterada sem aviso prévio por parte da
                                        organização.
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
</section>