<section class="about-parlex" id="sobre">
    <section class="parlex7-back">
        <div class="w-container">
            <div id="about-animation"></div>
            <div class="wrap">
                <div class="about">
                    <h4 class="about-heading"><i class="fa fa-flask fa-5x mar-bot20"></i></h4>

                    <h1 class="about-heading">A pesquisa em Química como princípio educativo</h1>

                    <div class="sepreater"></div>


                    <p class="about-des">
                        A Semana de Química do IFRN têm se realizado no Instituto desde 2013, com grandes perspectivas
                        de se tornar um evento anual e obrigatório no calendário de nossa instituição.
                    </p>

                    <p class="about-des">
                        2013 - Currais Novos, "O Ensino de Química: contextos, possibilidades e desafios."</p>

                    <p class="about-des">
                        2014 - Apodi, "O Ensino de Química como elemento indutor dos avanços da ciência e
                        tecnologia."</p>

                    <p class="about-des">
                        Promovido pelas coordenações dos cursos de Licenciatura em Química,
                        o evento tem como objetivo a integração dos cursos, dos alunos e dos campi,
                        promovendo a licenciatura e divulgando-a, além de fomentar a realização de ações integradas de
                        pesquisa, ensino e extensão na instituição.
                    </p>
                </div>
            </div>
        </div>
    </section>
</section>