{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Holocron IFRN">
    <title>3ª Semana Química - Entrar</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/sb-admin-2.css" rel="stylesheet" type="text/css">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Entrar</h3>
                    </div>
                    <div class="panel-body">
                        {% if form.errors %}
                        <div class="alert alert-danger">Email ou senha incorretos. Tente novamente.</div>
                        {% endif %}
                        <form class="form" role="form" method="post">{% csrf_token %}                            
                            {% bootstrap_field form.username %}
                            {% bootstrap_field form.password %}
                            <button type="submit" class="btn btn-lg btn-success btn-block">Enviar</button>                 
                        </form>
                        <br><a class="btn btn-default btn-block" href="{% url 'registrar' %}">Cadastrar</a>
                    </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/sb-admin-2.js"></script>
</body>
</html>